# Dependency directories
node_modules
bower_components
vpmdev.sh
wp-data
wp-app/*
!wp-app/wp-content/

# Compiled
# dist
# dist/**/*

.DS_Store
.sass-cache
.publish
Desktop.ini
npm-debug.log
**/generated/_icons.sass